body{
  background: #000;
  text-align: center;
}
button{
  width: 70px;
  height: 70px;
  background-color: #272727;

}
button h1{
  color:red;

}
#map{
  position: relative;
  margin: auto;
  border: 5px solid green;
  width: 500px;
  height: 500px;
}
#map img{
  position: absolute;
}
#map::before{
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  top: 150px;
  left: 150px;
}
